.App-sections {
  background-color: #D6D8D5;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
  align-content: space-between;
  overflow-y: scroll;
}

.App-section1 {
  display: flex;
  align-self: baseline;
  min-width: 20vmax;
  width: 80vmin;
  max-width: 50vmax;
}

.App-section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5vmin 0 5vmin;
}

.App-section2 .header {
  display: flex;
  font-size: calc(10px + 6vmin);
  color: black;
}

.App-section2 .text {
  display: flex;
  align-self: initial;
  font-size: calc(5px + 1.5vmin);
  color: black;
}