.App-sections {
  background-color: #D6D8D5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.App-section1 {
  display: flex;
  align-self: flex-end;
  height: 90vmin;
}

.App-section2 {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  padding: 0 5vmin 0 5vmin;
}

.App-section2 .header {
  display: flex;
  font-size: calc(10px + 6vmin);
  color: black;
}

.App-section2 .text {
  display: flex;
  align-self: initial;
  font-size: calc(5px + 1.5vmin);
  color: black;
}